*{
    margin: 1px;
    padding: 0px;
    font-size:20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
#titulo{
    font-size: 25px;
}
div#general{
    margin: auto;
    margin-top: 20px;
    width: 1500px;
    height: 700px;
}
table{
    border-spacing: 10px;
}
div#l1{
    display: inline-block;
    width: 450px;
    height: 660px;
}
.casilla{
    width: 400px;
    height: 100px;
}
.casilla0{
    width: 400px;
    height: 50px;
}
.casilla1{
    width: 400px;
    height: 150px;
}
.letra{
    width: 35px;
    height: 35px;
}

#ayudar{
    width: 100px;
    height: 50px;
}
div#l2{
    display: inline-block;
    width: 1000px;
    height: 660px;
}
.espacio{
    width:50px;
    height: 50px;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-bottom: black 1px solid;
}
.casilla2{
    width: 950px;
    height: 150px;
}
#lienzo{
    border: 1px solid black;
}